@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    padding: 1rem 2rem;
    background: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>a {
    margin-right: 3rem;
    margin-left: 3rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
}

.hero_sec {
    height: 90vh;
    width: 100%;
    position: relative;
}

.hero_sec>img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.hero_texts {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 50%;
}

.hero_texts>h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero_texts>p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta {
    font-size: 1.2rem;
    padding: .5rem .5rem;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all .5s;
}

.cta:hover {
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.scroll_line {
    position: absolute;
    height: 20%;
    width: 2px;
    background: var(--secondary-color);
    left: 2rem;
    top: 70%;
    transition: all .8s;
    animation: bobScroll 3s infinite;
}

.scroll_line::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background: var(--secondary-color);
    left: .5rem;
    top: 90%;
    transform: rotate(60deg);
    transition: all .8s;
}

@keyframes bobScroll {
    0% {
        transform: translateY(-2rem);
    }

    50% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(-2rem)
    }
}

.about_sec {
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.about_sec>h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.about_whole {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.about_left,
.about_right {
    width: 50%;
    height: 100%;
}

.about_left>img {
    width: 100%;
    height: 100%;
}

.about_right {
    padding: 0 2rem;
}

.about_right>p {
    font-size: 1.2rem;
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 300;
}

.teams {
    height: 100%;
    width: 100%;
    padding: 3rem 0;
}

.teams>h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}


.accordion {
    width: 100%;
    border: 1px solid #eee;
    display: flex;
}

.accordion__item {
    position: relative;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.accordion__item:before,
.accordion__item:after {
    content: "";
    width: 15px;
    height: 3px;
    top: 30px;
    background-color: #c7c7c7;
    border-radius: 50px;
    position: absolute;
    transition: all 0.5s ease;
}

.accordion__item:before {
    right: 20px;
    transform: rotate(-45deg);
}

.accordion__item:after {
    right: 30px;
    transform: rotate(45deg);
}

.accordion__item:focus:before {
    transform: rotate(45deg);
}

.accordion__item:focus:after {
    transform: rotate(-45deg);
}

.accordion__item:focus {
    outline: 0;
    cursor: default;
    background: #fafafa;
}

.accordion__title {
    padding: 30px;
}

.accordion__title:hover {
    background: #fafafa;
}

.accordion__item:focus .accordion__title {
    font-weight: 600;
}

.accordion__content {
    border-top: 1px solid #eee;
    margin: 0px 30px;
    visibility: collapse;
    opacity: 0;
    height: 0;
    transform-origin: center center;
    transform: rotate3d(-1, 0, 0, 90deg);
    transition: all 0.3s ease;
}

.accordion__item:focus .accordion__content {
    height: auto;
    padding: 30px 0px;
    margin: 0px 30px;
    visibility: visible;
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
}